<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	th:fragment="default(head , main)">
	<head>
		<meta charset="UTF-8">
		<title>홈페이지테스트</title>
		<link rel="stylesheet" href="/css/commons/reset.css">
		<link rel="stylesheet" href="/css/commons/common.css">
		<link rel="stylesheet" href="/css/commons/header.css">
		<link rel="stylesheet" href="/css/commons/footer.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		
		<!-- 추가 head정보를 replace할 위치 -->
		<th:block th:replace="${head}" />
		
	</head>
	<body>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////header////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<th:block th:insert="layout/layout01 :: header">
		header가 들어갈 영역입니다.
		</th:block>
		
		
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////main  ////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<main th:replace="${main}">
			<!-- main이 들어갈 위치입니다. -->
		</main>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////footer////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<th:block th:insert="layout/layout01 :: footer">
		footer가 들어갈 영역입니다.
		</th:block>
	</body>
</html>