<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<th:block th:insert="~{layout/layout01 :: frag-head}" />
        <link rel="stylesheet" href="/css/sign/signin.css">
    </head>
    <body>
    	<th:block th:insert="layout/layout01 :: header" />
    	<main>
    		<h1>로그인페이지</h1>
    		<div class="wrap  view-size-m">
    			<section >
    				<h1>로그인</h1>
    				<div class="wrap">
    					<p class="page-tit">로그인</p>
    				</div>
    			</section>
    			<section id="login-form">
    				<h1>로그인 입력폼</h1>
    				<div class="wrap">
    					<form >
    						<ul>
    							<li>
    								<input class="box-style-common" type="text" placeholder="아이디">
    							</li>
    							<li>
    								<input class="box-style-common" type="password" placeholder="비밀번호">
    							</li>
    							<li class="user-info-support flex between">
    								<div>
    									<input type="checkbox" id="chbox-idsave" >
    									<label for="chbox-idsave">아이디 저장</label>
    								</div>
    								<div class="ch font-zero">
    									<span><a href="#">아이디 찾기</a></span>
    									<span><a href="#">비밀번호 변경</a></span>
    								</div>
    							</li>
    							<li>
    								<button class="btn-style-common">로그인</button>
    							</li>
    						</ul>
    					</form>
    				</div>
    			</section>
    			<section id="social">
    				<h1>소셜 로그인</h1>
    				<div class="wrap">
    					<ul class="flex around">
    						<li><a href="#">카카오톡</a></li>
    						<li><a href="#">네이버</a></li>
    						<li><a href="#">구글</a></li>
    						<li><a href="#">애플</a></li>
    					</ul>
    				</div>
    			</section>
    		</div>
    	</main>
        <th:block th:insert="layout/layout01 :: #footer-tag" />
    </body>
</html>