@charset "UTF-8";
#visual>.wrap{
	position: relative;
	overflow: hidden;
}
#visual>.wrap>.area{
	width: 815px;
	height: 363px;
	margin: 0 auto;
	overflow: visible;
}
/* 
#visual>.wrap>.area ol{
	margin-left: calc( -415px * 4 );
}
 */
#visual>.wrap>.area ol li{
	margin-right: 15px;
}
#visual>.wrap>.area ol li a{
	display: block;
	width: 400px;
	height: 363px;
	text-align: center;
	line-height: 363px;
	font-size: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#visual>.wrap>.cover{
	position:absolute;
	top:0;
	left:0;
	display: grid;
  	grid-template-columns: auto 815px auto;
	width: 100%;
	height: 363px;
}
#visual>.wrap>.cover>.side{
	background-color: rgba(255,255,255, 0.75);
	height:100%;
}
#visual>.wrap>.cover>.center{
	height:100%;
	background-color: transparent;
}