@charset "UTF-8";
#visual>.wrap{
	position: relative;
	overflow: hidden;
}
#visual>.wrap>.area{
	width: 815px;
	height: 363px;
	margin: 0 auto;
	overflow: visible;
	position: relative;
}
/* 
#visual>.wrap>.area ol{
	margin-left: calc( -415px * 4 );
}
 */
#visual>.wrap>.area ol li{
	margin-right: 15px;
}
#visual>.wrap>.area ol li a{
	display: block;
	width: 400px;
	height: 363px;
	text-align: center;
	line-height: 363px;
	font-size: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#visual>.wrap>.area .cover .side{
	position: absolute;
	top: 0;
	height: 363px;
	width: 3000px;
	background-color: rgba(255,255,255, 0.75);
	
}
#visual>.wrap>.area .cover .left{
	left:-3000px;
}
#visual>.wrap>.area .cover .right{
	left: 815px;
}
#visual>.wrap>.area .btn button{
	position: absolute;
	z-index: 100;
	top: calc(50% - 25px);
	opacity: 50%;
}
#visual>.wrap>.area .btn .prev{
	left: -25px;
}
#visual>.wrap>.area .btn .next{
	right: -25px;
}
#visual>.wrap>.area .btn button img{
	width: 50px;
}



