<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="/css/commons/reset.css">
		<link rel="stylesheet" href="/css/commons/common.css">
		<link rel="stylesheet" href="/css/commons/header.css">
		<link rel="stylesheet" href="/css/visual.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="/js/visual.js"></script>
	</head>
	<body>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////header////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<header>
			<h1>상단영역</h1>
			<div class="wrap view-size">
				<!-- ///////메뉴상단////////////////////////////////////// -->
				<nav id="menu-top">
					<h1>메뉴상단</h1>
					<div class="wrap flex between">
						<section id="snb">
							<h1>사이트메뉴</h1>
							<div class="wrap">
								<ul class="flex">
									<li>
										<a href="#">베스트후기</a>
									</li>
									<li>
										<a href="#">고객센터</a>
									</li>
									<li>
										<a class="btn-style1" href="#">이벤트/기획전</a>
									</li>
								</ul>
							</div>
						</section>
						<section id="unb">
							<h1>유저메뉴</h1>
							<div class="wrap">
								<ul class="flex">
									<li>
										<a href="#">로그인</a>
									</li>
									<li>
										<a href="#">회원가입</a>
									</li>
									<li>
										<a href="#">마이페이지</a>
									</li>
									<li>
										<a href="#">주문/배송조회</a>
									</li>
									<li>
										<a href="#">장바구니</a>
									</li>
								</ul>
							</div>
						</section>
					</div>
				</nav>
				<!-- ///////로고&검색////////////////////////////////////// -->
				<section id="logo-search">
					<h1>로고&amp;검색</h1>
					<div class="wrap flex between">
						<section id="logo">
							<h1>로고</h1>
							<div class="wrap">
								<a href="/">
									<span>G</span>
									<span>R</span>
									<span>E</span>
									<span>E</span>
									<span>N</span>
								</a>
							</div>
						</section>
						<section id="search">
							<h1>검색</h1>
							<div class="wrap">
								<form >
									<input type="text" name="search" placeholder="바른먹거리를 찾으세요?">
									<button></button>
								</form>
							</div>
						</section>
						<section id="delivery">
							<h1>배송지</h1>
							<div class="wrap">
								<img alt="aaa" src="/images/icon/location-dot-solid.svg" width="10px">
								<a  href="#">배송지정보를 입력해 주세요&gt;</a>
							</div>
						</section>
					</div>
				</section>
				<!-- ///////메인메뉴////////////////////////////////////// -->
				<nav id="nb">
					<h1>메인메뉴</h1>
					<div class="wrap">
						<ul class="flex">
							<li class="gnb">
								<a href="#" class="flex">
									<span class="gnb-icon">
										<i></i>
										<i></i>
										<i></i>
									</span>
									<span>전체상품보기</span>
								</a>
								<div class="sub">
									<ol>
										<li>
											<a href="#">
												<span>서브1</span>
											</a>
											<ul class="sub-sub">
												<li>
													<a href="#">
														<span>서브1_1</span>
													</a>
												</li>
												<li><a href="#"><span>서브1_2</span></a></li>
												<li><a href="#"><span>서브1_3</span></a></li>
												<li><a href="#"><span>서브1_4</span></a></li>
											</ul>
										</li>
										<li>
											<a href="#">
												<span>서브2</span>
											</a>
											<ul class="sub-sub">
												<li>
													<a href="#">
														<span>서브2_1</span>
													</a>
												</li>
												<li><a href="#"><span>서브2_2</span></a></li>
												<li><a href="#"><span>서브2_3</span></a></li>
											</ul>
										</li>
										<li>
											<a href="#">
												<span>서브3</span>
											</a>
											<ul class="sub-sub">
												<li>
													<a href="#">
														<span>서브3_1</span>
													</a>
												</li>
												<li><a href="#"><span>서브3_2</span></a></li>
												<li><a href="#"><span>서브3_3</span></a></li>
											</ul>
										</li>
										<li>
											<a href="#">
												<span>서브4</span>
											</a>
											<ul class="sub-sub">
												<li><a href="#"><span>서브4_1</span></a></li>
												<li><a href="#"><span>서브4_2</span></a></li>
												<li><a href="#"><span>서브4_3</span></a></li>
											</ul>
										</li>
									</ol>
								</div>
							</li>
							<li><a href="#">오!감동</a></li>
							<li><a href="#">인기추천</a></li>
							<li><a href="#">오픈마켓</a></li>
							<li><a href="#">브랜드몰</a></li>
							<li><a href="#">소상공인</a></li>
							<li><a href="#">희망장터</a></li>
							<li><a href="#">찬들마루</a></li>
							<li><a href="#">구독Run</a></li>
							<li><a href="#">비디오쇼핑</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////visual  ////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<section id="visual">
			<h1>비주얼영역</h1>
			<div class="wrap">
				<div class="area">
					<ol class="flex visuals">
						<li th:each="num : ${#numbers.sequence(1,15)}">
							<a href="#" th:style="|background-image: url('/images/visual/visual${num}.jpg');|">[[${num}]]</a>
						</li>
					</ol>
					<div class="cover">
						<div class="side left"></div>
						<div class="side right"></div>
					</div>
					<div class="btn">
						<button class="prev"><img alt="btn-prev" src="/images/icon/circle-chevron-left-solid.svg"></button>
						<button class="next"><img alt="btn-next" src="/images/icon/circle-chevron-right-solid.svg"></button>
					</div>
				</div>
				
			</div>
		</section>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////main  ////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<main>
			<h1>메인컨텐츠</h1>
			<div class="wrap view-size">
				메인컨텐츠 실제내용
			</div>
		</main>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////footer////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<footer>
			<h1>하단영역</h1>
			<div class="wrap view-size">
				하단영역 실제내용
			</div>
		</footer>
	</body>
</html>