<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="/css/commons/reset.css">
	</head>
	<body>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////header////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<header>
			<h1>상단영역</h1>
			<div>
				<!-- ///////메뉴상단////////////////////////////////////// -->
				<nav id="menu-top">
					<h1>메뉴상단</h1>
					<div>
						<section>
							<h1>사이트메뉴</h1>
							<div>
							</div>
						</section>
						<section>
							<h1>유저메뉴</h1>
							<div>
							</div>
						</section>
					</div>
				</nav>
				<!-- ///////로고&검색////////////////////////////////////// -->
				<section id="logo-search">
					<h1>로고&검색</h1>
					<div></div>
				</section>
				<!-- ///////메인메뉴////////////////////////////////////// -->
				<nav id="nb">
					<h1>메인메뉴</h1>
					<div></div>
				</nav>
			</div>
		</header>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////main  ////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<main>
			<h1>메인컨텐츠</h1>
			<div>
				메인컨텐츠 실제내용
			</div>
		</main>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////footer////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<footer>
			<h1>하단영역</h1>
			<div>
				하단영역 실제내용
			</div>
		</footer>
	</body>
</html>