<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:insert="layout/layout01 :: head">
			layout01의 head태그 안쪽 내용이 삽입됩니다.
		</th:block>
	</head>
	<body>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////header////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		
		
		<th:block th:insert="layout/layout01 :: header">
		header가 들어갈 영역입니다.
		</th:block>
		
		
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////main  ////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		<main>
			<h1>메인컨텐츠</h1>
			<div class="wrap view-size">
				테스트 입니다.
			</div>
		</main>
		<!-- /////////////////////////////////////////////////// -->
		<!-- ///////footer////////////////////////////////////// -->
		<!-- /////////////////////////////////////////////////// -->
		
		<th:block th:insert="layout/layout01 :: footer">
		footer가 들어갈 영역입니다.
		</th:block>
		
	</body>
</html>