<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	th:replace="~{layout/layout03 :: default(~{::head} , ~{::main})}" >
<head>
	
</head>
<!-- /////////////////////////////////////////////////// -->
<!-- ///////main  ////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////// -->
<main>
	<h1>메인컨텐츠</h1>
	<div class="wrap">
		<section>
			<h1>고객센터</h1>
			<div>
				<p class="page-tit">고객센터 페이지 입니다.</p>
			</div>
		</section>
	</div>
</main>
</html>