<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	th:replace="~{layout/layout03 :: default(~{::head} , ~{::main})}" >
<head>
	<link rel="stylesheet" href="/css/customer/front.css">
</head>
<!-- /////////////////////////////////////////////////// -->
<!-- ///////main  ////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////// -->
<main>
	<h1>메인컨텐츠</h1>
	<div class="wrap view-size">
		<section>
			<h1>고객센터</h1>
			<div>
				<p class="page-tit">고객센터</p>
			</div>
		</section>
		<section id="container">
			<h1>faq 리스트</h1>
			<div class="wrap">
				<div class="cus-menu">
					<ul class="flex between">
						<li><span>쇼핑몰 이용문의</span></li>
						<li><span>회원/정보</span></li>
						<li><span>주문/결제</span></li>
						<li><span>배송</span></li>
						<li><span>취소/교환/반품</span></li>
						<li><span>서비스/기타</span></li>
					</ul>
				</div>
				<div class="cus-list">
					<ul>
						<!-- dto : java의 FaqDTO dto 객체변수의 역할 --> 
						<!-- dto : li 태그 안에서만 사용가능 ${dto.필드} 필드의 getter메서드 호출 -->
						<li th:each="dto : ${list}">
							<dl>
								<dt class="question" th:text="${dto.question}"></dt>
								<dd class="answer">[[${dto.answer}]]</dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="pagging">
					<ol class="flex center">
						<li>
							<a href="/customers/home?page=1">&lt;&lt;</a>
						</li>
						<!-- 이전 ne != -->
						<li th:if="${pData.start ne 1}">
							<a th:href="|/customers/home?page=${pData.start-1}|">&lt;</a>
						</li>
						<!-- ps~pe 반복-->
						<li th:each="pageNo :${#numbers.sequence(pData.start , pData.end)}">
							<a th:href="|/customers/home?page=${pageNo}|">[[${pageNo}]]</a>
						</li>
						<!-- 다음 -->
						<li th:if="${pData.end lt pData.pageTotal}">
							<a th:href="|/customers/home?page=${pData.end + 1}|">&gt;</a>
						</li>
						<!-- 마직막 -->
						<li>
							<a th:href="|/customers/home?page=${pData.pageTotal}|">&gt;&gt;</a>
						</li>
					</ol>
				</div>
			</div>
		</section>
	</div>
</main>
</html>