@charset "UTF-8";

.terms-box{
	color:#626262;
	margin-top:10px;
	padding: 1rem 2rem;
	font-size: 14px;
	border: 1px solid #a9a9a9;
}
.terms-box dl{
	padding-left: 10px;
	margin-top: 5px;
}
.terms-box dt{
	width:52px;
	margin-right: 1em;
 	font-weight: bold;
}
.terms-box strong{
	color: #222;
}
#signup-form>.wrap{
	margin-bottom: 100px;
}
#signup-form>.wrap form ul>li:not(:first-child){
	margin-top: 10px;
}
#signup-form>.wrap form ul>li.terms a{
	text-decoration: underline;
	/* text-underline-position: from-font; */
}
#signup-form>.wrap form ul>li.terms ol{
	border-top:2px dashed #333;
	margin-top: 30px;
	padding-top: 30px;
}
#signup-form>.wrap form ul>li.terms ol>li:first-child{
	border-bottom:1px solid #a9a9a9;
	padding-bottom: 20px;
}
#signup-form>.wrap form ul>li.terms ol>li:not(:first-child){
	margin-top: 10px;
}

#signup-form>.wrap form ul>li p.join-text{
	text-align: center;
	font-size: 14px;
	color: red;
	padding: 20px 0;
}
#signup-form>.wrap form ul>li:last-child {
	border-top:1px solid #a9a9a9;
	margin-top: 20px;
}

