<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	th:replace="~{layout/layout03 :: default(~{::head} , ~{::main})}" >
<head>
	<link rel="stylesheet" href="/css/customer/front.css">
	<script type="text/javascript">
		var division="use";
		var page=1;
		$(function(){
			$(".cus-menu ul>li").eq(0).addClass("target");
			$(".cus-menu ul>li").click(menuClicked);
			
			getList();
			
		});
		
		function questionClicked(questionEl){
			
			//this를 제외한 모든 .question의 다음요소(.answer)를 슬라이드업(열림->닫음) 
			$(".question").not(questionEl).next().slideUp();
			//this 다음 요소(.answer)를 토글(열림->닫음, 닫음->열림)
			$(questionEl).next().slideToggle();
		}
		
		function menuClicked(){
			$(".cus-menu ul>li").removeClass("target");
			$(this).addClass("target");
			division=$(this).attr("value");
			page=1;
			getList();
		}
		
		function getList(){
			
			$.ajax({
				url:`/customers/${division}/${page}`,
				type:"get",
				success:function(resultHtml){
					$(".cus-list").html(resultHtml);
					var len=$("#p-length").val();
					$(".page-list li").eq( (page-1) % len ).addClass("select");
				}
			});
		}
		
		function pageClicked(pageNo){
			page=pageNo;
			getList();
		}
		
		
	</script>
</head>
<!-- /////////////////////////////////////////////////// -->
<!-- ///////main  ////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////// -->
<main>
	<h1>메인컨텐츠</h1>
	<div class="wrap view-size">
		<section>
			<h1>고객센터</h1>
			<div>
				<p class="page-tit">고객센터</p>
			</div>
		</section>
		<section id="container">
			<h1>faq 리스트</h1>
			<div class="wrap">
				<div class="cus-menu">
					<ul class="flex between">
						<li value="use"><span>쇼핑몰 이용문의</span></li>
						<li value="member" ><span>회원/정보</span></li>
						<li value="order"><span>주문/결제</span></li>
						<li value="delivery"><span>배송</span></li>
						<li value="cancel"><span>취소/교환/반품</span></li>
						<li value="service"><span>서비스/기타</span></li>
					</ul>
				</div>
				<div class="cus-list">
					ajax에서 처리란  list.html에서 리스트+페이징 가 들어갈영역입니다. HTML채울꺼에요
				</div>
			</div>
		</section>
	</div>
</main>
</html>