@charset "UTF-8";

#container>.wrap .cus-menu ul>li{
	width: 190px;
	height: 190px;
	text-align: center;
	border: 1px solid #6ba543;
	border-radius: 5px;
	position: relative;
	
}
#container>.wrap .cus-menu ul>li.target{
	background-color: rgba(107,165,67, 0.5);
}

#container>.wrap .cus-menu ul>li::before{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	background: no-repeat center 50px /30%;
	/* opacity: 0.5; */
	filter: opacity(0.5) drop-shadow(0 0 0 #6ba543);
}

#container>.wrap .cus-menu ul>li:nth-of-type(1)::before{
	background-image: url("/images/icon/circle-question-regular.svg");
}
#container>.wrap .cus-menu ul>li:nth-of-type(2)::before{
	background-image: url("/images/icon/circle-user-regular.svg");
}
#container>.wrap .cus-menu ul>li:nth-of-type(3)::before{
	background-image: url("/images/icon/wallet-solid.svg");
}
#container>.wrap .cus-menu ul>li:nth-of-type(4)::before{
	background-image: url("/images/icon/truck-solid.svg");
}
#container>.wrap .cus-menu ul>li:nth-of-type(5)::before{
	background-image: url("/images/icon/comment-dollar-solid.svg");
}
#container>.wrap .cus-menu ul>li:nth-of-type(6)::before{
	background-image: url("/images/icon/file-circle-plus-solid.svg");
}
#container>.wrap .cus-menu ul>li span{
	position: relative;
	top:115px;
}
#container>.wrap .cus-list{
	margin-top: 40px;
}
#container>.wrap .cus-list ul>li dl{
	border-bottom: 1px solid #e9e9e9;
}
#container>.wrap .cus-list ul>li dl>*{
	padding: 1em 0;
}
#container>.wrap .cus-list ul>li dl>*::before{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 18px;
	border-radius:50%;
	text-align: center;
	color:#fff;
	margin-right: 10px;
}
#container>.wrap .cus-list ul>li dl>dt.question::before{
	content: "Q";
	background-color: aqua; 
}
#container>.wrap .cus-list ul>li dl>dd.answer::before{
	content: "A";
	background-color: purple; 
}
#container>.wrap .cus-list ul>li dl>dd.answer{
	display: none;
	background-color: rgba(0,0,0, 0.25);
	padding: 1em 1em;
}
#container>.wrap .pagging{
	margin-top: 40px;
}
#container>.wrap .pagging ol>li a{
	display:inline-block;
	padding: 1em;
	border: 1px solid #6ba543;
	margin: 0 2px;
}
.select a{
	color:#fff ; 
	background-color: rgba(107,165,67, 0.5);
}
